Repository zcodeapp/msexpandable: changes, and which Codecov flags are due for each by the changed paths.
All: logger, di, utils, configuration

codecov.yml:

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%
  individual_flags:
    - name: logger
      paths: 
      - src/logger
      carryforward: true
      statuses:
        - type: project
          target: 20%
        - type: patch
          target: 100%
    - name: di
      paths: 
      - src/di
      carryforward: true
      statuses:
        - type: project
          target: 20%
        - type: patch
          target: 100%
    - name: utils
      paths: 
      - src/utils
      carryforward: true
      statuses:
        - type: project
          target: 20%
        - type: patch
          target: 100%
    - name: configuration
      paths: 
      - src/configuration
      carryforward: true
      statuses:
        - type: project
          target: 20%
        - type: patch
          target: 100%
flags:
  logger:
    paths:
      - src/logger/
  di:
    paths:
      - src/di/
  utils:
    paths:
      - src/utils/
  configuration:
    paths:
      - src/configuration/

update interfaces
  package-lock.json
  src/configuration/package.json
  src/di/package.json
  src/interfaces/package.json
  src/logger/package.json
  src/utils/package.json
Due: logger, di, utils, configuration

update readme
  README.md
Due: none

add tests
  package-lock.json
  src/configuration/package.json
  src/configuration/src/configuration.ts
  src/configuration/src/strategies/environment.ts
  src/configuration/tests/configuration.test.ts
  src/configuration/tests/mock/configuration/exception.ts
  src/configuration/tests/mock/configuration/strategy.ts
Due: configuration

update readme
  codecov.yml
  src/configuration/README.md
  src/configuration/src/configuration.ts
  src/configuration/src/strategies/environment.ts
Due: configuration

Publish
  package-lock.json
  src/configuration/package.json
  src/di/package.json
  src/interfaces/package.json
  src/logger/package.json
  src/utils/package.json
Due: logger, di, utils, configuration

add cache package
  package-lock.json
  src/cache/.eslintignore
  src/cache/.eslintrc.js
  src/cache/.npmignore
  src/cache/.vscode/launch.json
  src/cache/LICENSE.md
  src/cache/README.md
  src/cache/jest.config.js
  src/cache/package.json
  src/cache/src/cache.ts
  src/cache/src/index.ts
  src/cache/src/strategies/index.ts
  src/cache/src/strategies/memory.ts
  src/cache/tests/cache.test.ts
  src/cache/tests/mock/strategy.ts
  src/cache/tsconfig.json
  src/configuration/src/configuration.ts
  src/interfaces/src/cache/ICache.ts
  src/interfaces/src/cache/ICacheStrategy.ts
  src/interfaces/src/cache/IMemoryData.ts
  src/interfaces/src/cache/index.ts
  src/interfaces/src/index.ts
  src/utils/src/transform.ts
Due: utils, configuration

add codecov
  .github/workflows/cache-workflow.yml
  codecov.yml
Due: none

Publish
  package-lock.json
  src/cache/package.json
  src/configuration/package.json
  src/di/package.json
  src/interfaces/package.json
  src/logger/package.json
  src/utils/package.json
Due: logger, di, utils, configuration

fix utils dependency
  src/cache/package.json
  src/cache/src/cache.ts
  src/utils/README.md
  src/utils/package.json
  src/utils/tests/utils.test.ts
Due: utils

fix test
  src/cache/tests/cache.test.ts
Due: none

Publish
  package-lock.json
  src/cache/package.json
  src/configuration/package.json
  src/di/package.json
  src/logger/package.json
  src/utils/package.json
Due: logger, di, utils, configuration

add controller package
  package-lock.json
  src/cache/src/cache.ts
  src/controller/.eslintignore
  src/controller/.eslintrc.js
  src/controller/.npmignore
  src/controller/.vscode/launch.json
  src/controller/LICENSE.md
  src/controller/README.md
  src/controller/jest.config.js
  src/controller/package.json
  src/controller/src/controller.ts
  src/controller/src/controllerManager.ts
  src/controller/src/index.ts
  src/controller/src/methods.ts
  src/controller/tests/controller.test.ts
  src/controller/tsconfig.json
  src/interfaces/src/controller/EControllerMethod.ts
  src/interfaces/src/controller/IController.ts
  src/interfaces/src/controller/IControllerConfiguration.ts
  src/interfaces/src/controller/IControllerInterceptor.ts
  src/interfaces/src/controller/IControllerMiddleware.ts
  src/interfaces/src/controller/IControllerOptions.ts
  src/interfaces/src/controller/IControllerRoute.ts
  src/interfaces/src/controller/IControllerRouteOptions.ts
  src/interfaces/src/controller/index.ts
  src/interfaces/src/index.ts
Due: none

add branch main for github actions
  .github/workflows/cache-workflow.yml
  .github/workflows/configuration-workflow.yml
  .github/workflows/di-workflow.yml
  .github/workflows/interfaces-workflow.yml
  .github/workflows/logger-workflow.yml
  .github/workflows/utils-workflow.yml
Due: none

update controller tests e fix di return self
  src/controller/src/controller.ts
  src/controller/src/controllerManager.ts
  src/controller/tests/controller.test.ts
  src/controller/tests/controllerManager.test.ts
  src/controller/tests/mock/controllerManager/sampleController.ts
  src/controller/tests/mock/controllerManager/sampleInterceptor.ts
  src/controller/tests/mock/controllerManager/sampleMiddleware.ts
  src/di/jest.config.js
  src/di/src/di.ts
  src/di/tests/di.test.ts
  src/interfaces/src/controller/IControllerManager.ts
  src/interfaces/src/controller/IControllerRouteOptions.ts
  src/interfaces/src/controller/index.ts
Due: di

add tests for controller and fix tests packages
  package-lock.json
  src/cache/package.json
  src/configuration/package.json
  src/controller/package.json
  src/controller/src/controller.ts
  src/controller/src/controllerManager.ts
  src/controller/src/methods.ts
  src/controller/tests/controllerManager.test.ts
  src/controller/tests/methods.test.ts
  src/controller/tests/mock/methods/SampleControllerMethods.ts
  src/di/src/di.ts
  src/utils/package.json
Due: di, utils, configuration

update tests and add workflow controller
  .github/workflows/controller-workflow.yml
  README.md
  codecov.yml
  src/controller/src/controllerManager.ts
  src/controller/src/methods.ts
  src/controller/tests/controllerManager.test.ts
  src/controller/tests/methods.test.ts
  src/controller/tests/mock/methods/InterceptorController.ts
  src/controller/tests/mock/methods/InterceptorDependency.ts
  src/controller/tests/mock/methods/InterceptorRouteController.ts
  src/controller/tests/mock/methods/InterceptorRouteDependency.ts
  src/controller/tests/mock/methods/InterceptorRouteEmptyController.ts
  src/controller/tests/mock/methods/MiddlewareController.ts
  src/controller/tests/mock/methods/MiddlewareDependency.ts
  src/controller/tests/mock/methods/MiddlewareRouteController.ts
  src/controller/tests/mock/methods/MiddlewareRouteDependency.ts
  src/controller/tests/mock/methods/MiddlewareRouteEmptyController.ts
  src/controller/tests/mock/methods/RoutePathEmptyMethodsController.ts
  src/controller/tests/mock/methods/RoutePathEmptyUseMethodsControllers.ts
  src/controller/tests/mock/methods/RoutePathMethodsController.ts
  src/controller/tests/mock/methods/SampleControllerMethods.ts
  src/interfaces/src/controller/IControllerOptions.ts
Due: none

Publish
  package-lock.json
  src/cache/package.json
  src/configuration/package.json
  src/controller/package.json
  src/di/package.json
  src/interfaces/package.json
  src/logger/package.json
  src/utils/package.json
Due: logger, di, utils, configuration

add test for logger instante auto inside di
  src/di/package.json
  src/di/tests/injectable.test.ts
  src/di/tests/mocks/injectable/ExampleInjectDiLogger.ts
  src/di/tests/mocks/injectable/index.ts
Due: di

Publish
  package-lock.json
  src/cache/package.json
  src/configuration/package.json
  src/controller/package.json
  src/di/package.json
Due: di, configuration

update readme and add comments for package cache
  src/cache/README.md
  src/cache/package.json
  src/cache/src/cache.ts
  src/cache/src/strategies/memory.ts
  src/cache/tests/cache.test.ts
Due: none

update readme
  src/cache/README.md
  src/cache/src/cache.ts
  src/configuration/README.md
Due: configuration

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

Create codeql-config.yml
  .github/codeql/codeql-config.yml
Due: none

Update codeql.yml
  .github/workflows/codeql.yml
Due: none

add query, body, etc params for controller method
  src/controller/package.json
  src/controller/src/index.ts
  src/controller/src/params.ts
  src/controller/tests/mock/methods/ResponseStatusJsonController.ts
  src/controller/tests/mock/query/QuerySampleController.ts
  src/controller/tests/query.test.ts
  src/interfaces/src/controller/EControllerInjectParam.ts
  src/interfaces/src/controller/IControllerInjectParams.ts
  src/interfaces/src/controller/index.ts
Due: none

update
  src/controller/src/baseController.ts
  src/controller/src/controllerManager.ts
  src/controller/src/index.ts
  src/controller/src/params.ts
  src/controller/src/request.ts
  src/controller/src/response.ts
  src/controller/tests/mock/query/QueryReturnJsonController.ts
  src/controller/tests/mock/query/QuerySampleController.ts
  src/controller/tests/query.test.ts
  src/di/src/di.ts
  src/interfaces/src/controller/IController.ts
  src/interfaces/src/di/IDi.ts
  src/interfaces/src/di/IDiGetOptions.ts
  src/interfaces/src/di/IDiGetOptionsProviders.ts
  src/interfaces/src/di/index.ts
  src/interfaces/src/http-request/IRequestData.ts
Due: di

add di get providers
  src/controller/src/baseController.ts
  src/controller/src/request.ts
  src/controller/tests/mock/query/QueryReturnJsonController.ts
  src/controller/tests/query.test.ts
  src/di/src/di.ts
  src/di/tests/di.test.ts
  src/di/tests/mocks/di/ExampleSimpleCallback.ts
Due: di

fix tests
  README.md
  src/controller/tests/mock/controllerManager/sampleController.ts
  src/controller/tests/mock/controllerManager/sampleInterceptor.ts
  src/controller/tests/mock/methods/InterceptorController.ts
  src/controller/tests/mock/methods/InterceptorRouteController.ts
  src/controller/tests/mock/methods/InterceptorRouteEmptyController.ts
  src/controller/tests/mock/methods/MiddlewareController.ts
  src/controller/tests/mock/methods/MiddlewareRouteController.ts
  src/controller/tests/mock/methods/MiddlewareRouteEmptyController.ts
  src/controller/tests/mock/methods/ResponseStatusController.ts
  src/controller/tests/mock/methods/ResponseStatusJsonController.ts
  src/controller/tests/mock/methods/ResponseStatusRouteController.ts
  src/controller/tests/mock/methods/RoutePathEmptyMethodsController.ts
  src/controller/tests/mock/methods/RoutePathEmptyUseMethodsControllers.ts
  src/controller/tests/mock/methods/RoutePathMethodsController.ts
  src/controller/tests/mock/methods/SummaryController.ts
  src/controller/tests/mock/methods/SummaryRoutesController.ts
  src/validation/package.json
Due: none

fix package script
  package.json
  src/validation/package.json
Due: none

Publish
  package-lock.json
  src/cache/package.json
  src/configuration/package.json
  src/controller/package.json
  src/di/package.json
  src/interfaces/package.json
  src/logger/package.json
  src/utils/package.json
  src/validation/package.json
Due: logger, di, utils, configuration

fix lint
  src/controller/tests/mock/controllerManager/sampleInterceptor.ts
Due: none
